<context id="casEV" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	<projection type="continuous space" id="space"/>
  	<projection type="grid" id="grid"/>
  	<projection type="network" id="road network"></projection>
  	<projection type="network" id="debug network"></projection>
  	<projection type="network" id="electric network"></projection>
</context>
